footer {
  background: white;
  height: 70px;
  border-top: 1px solid #cccccc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  footer {
    height: 40px;
    /* position: calc(100vh - 60px); */
  }
}
